{% extends "../views/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <form role="form" method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
                <label>Title <small>Required</small></label>
                <input type="title" name="title" class="form-control" placeholder="Title" required autofocus>
            </div>
            <div class="form-group">
                <label>Author <small>Required</small></label>
                <input type="author" name="author" class="form-control" placeholder="Author" required>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Year Published</label>
                    <select name="year" class="form-control">
                        <script type="text/javascript" charset="utf-8">
                            var time = new Date();
                            var year = time.getYear();
                            if (year < 1900) {
                                year = year + 1900;
                            }
                            var date = year - 101; 
                            var future = year+1 
                            
                            do {
                                future--;
                                document.write ("<OPTION value=\"" +future+"\">" +future+ "");
                            }
                            while (date < future)
                            today =new Date();
                            y0 = today.getFullYear();
                        </script>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>ISBN</label>
                    <input type="ISBN" name="isbn" class="form-control" placeholder="ISBN" required>
                </div>
            </div>
            <div class="form-group">
                <label>Publisher</label>
                <input type="publisher" name="publisher" class="form-control" placeholder="Publisher" required>
            </div>
            <div class="form-group">
                <label>Excerpt <small>100 - 150 words</small></label>
                <textarea class="form-control" rows="6" name="excerpt"></textarea>
            </div>
            <div class="form-group">
                <label>Choose file</label>
                <input type="file" name="file" id="file" value="" accept="application/pdf" class="form-control" required>
            </div>
            <button class="btn btn-success pull-right" type="submit">Next</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% end %}